body{
  font-family: 'Poppins' !important;
}
p{
  font-weight: 300;
}
#nav{
  max-width: 100%;
  
}
.heading{
  font-family: 'Poppins';
  font-weight: 300 !important;
}
#puff1{
  margin-top: -100px;
}
#card{
  width: 18rem;
}
#footer{
  max-width: 100%;
  background-color: black;
}
#movies img,
#movie img {
  width: 100%;
}
.brand-text {
  font-size: 2rem;
}
#react-logo {
  color: #00d8ff;
}
#imdb-logo {
  color: #f5de50;
}
#github-logo{
  color: #555555;
}
#hero-Img{
  max-height: 900px;
  width: 100%;
}
#bg-black{
  background-color: black;
}
.bg-black{
  background-color: black;
}
a{
  color:black !important;
}
a:visited{
  color:black !important;
}

#background{
  max-height: auto;
}
#home-logo{
  font-size: 20px;
}
#home-logo:hover{
  color:#59A0F1;
}
#h1-puff{
  font-family: 'Calligraffitti', cursive;
  
}
.nav-pills{
  font-size:20px;
  text-align: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #343a40!important;
  text-align: center;
  border-radius: none;
  color:white !important;
  font-size:20px;
}
#icon-size-20{
  font-size: 20px;
}
#icon-size-50{
  font-size: 50px;
}
#contact-puff{
  width: 47%;
    padding: 1em 2em;
    margin: 2em auto 3em;
    margin-top: -50px;
    z-index: -1;
}
.contact-link{
 
  cursor: pointer;
}
.contact-link:hover{
  font-weight: 500;
  color:#3E444B!important;
  cursor: pointer;
}
.marg-pad{
  margin: 0;
  padding: 2%;
}
.margin-s{
  margin-top: 3%;
}
.margin-m{
  margin-top:5% ;
}
.margin-l{
  margin-top: 100px !important;
}
.pad-s{
  padding: 2%;
}
.pad-top{
  padding-top:2%;
}
.ribbon {
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  font-family: 'Poppins';
  width: 50%;
  font-weight: 300;   
  position: relative;
  background: #3E444B;
  color: #fff;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
 }
 .ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #343a40;
  z-index: -1;
 }
 .ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
 }
 .ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
 }
 .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: black transparent transparent transparent;
  bottom: -1em;
 }
 .ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
 }
 .ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
 }

 #profile-col1{
   height: 200px;
 }
.neon-text {
  font-size: 8em;
  color: #FFDD1B!important;
  font-family: 'Pacifico', cursive;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  text-align: center;
}
.neon-text:hover{
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}
.img-w{
  width: 300px;
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}


/**Ecommrece*/
.ecommerceHome{
  width: 100%;
  display: grid;
}

.header-ecommerce{
  color:white !important;
  background-color: black;
  width: 100%;
  padding: 2%;
}

.head-ecommerce{
  color:white !important;
}
.head-ecommerce:hover{
  color:#ffc107!important;
}
.contentEcommerce{
  display:flex;
  flex-wrap: wrap;
}
.mainEcommerce{
  flex:3 60rem;
}
.sidebarEcommerce{
  flex:1 0rem;
}

.productsEcommerce{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}
.productsEcommerce div{
  height: 40rem;
  max-width: 35rem;
  padding: 1rem;

}

.productEcommerce{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.productEcommerce img{
  max-width:25rem;
  max-height: 37rem;
}
.product-price{
  margin: 0 !important;
  padding: 0 !important;
  font-size:20px;
}
.btn-product{
  background-color: black;
  color:white;
  border:none;
  padding: 1%;
  width: 150px;
  margin-left:5% !important;
  font-size: 15px;

}
@media (min-width: 960px) {
  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }

 
}
@media (max-width:500px){
  .neon-text {
    margin-top: 50px;
    font-size: 3em;
  }
  .display-4{
    font-size: 2em !important;
  }

  .nav li{
    margin-left: 0px !important;
    margin-right: 10px;
  }
  #background{
    margin-top: 50px;
  }
  .heading{
    font-size: 25px !important;
  }
  #puff1{
    margin-top: -50px;
  }
  .ribbon{
    width: 100%;
  }
  #contact-puff{
    width:90%;
  }
  #profile-col1{
    height: 100%;
  }
  .navbar-nav .dropdown-menu{
    position: absolute !important;
  }
}
